.fct
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6.5px;
    &_titre-menus{
    margin-left: 8.5px;
    margin-right: 1.5px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 550;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
    margin-left: 120px;
    }
    }
    &_numbers{
       margin-left: -10px;
       margin-top: 19.7px;
       width: 20px;
       height: 20px;
       border-radius: 10px;
       background: $colour-primary;
       color: white;
       display: flex;
       align-content: center;
    }
    &_numbers-st{
        margin-left: 6.5px;
        margin-top: 1.9px;
    }
    &_icons
    {
        margin-top: 19.7px;
        margin-left: 17.5px;
        margin-right: 10px;
        font-size: 17.5px;
        color: grey;
        @media screen and (min-width: 1290px) and (max-width: 2200px){
            margin-left: 50px;
        }
    }
    &_1,&_2,&_3
    {
        display: flex;
        width: 350px;
        font-family: "Roboto";
        font-weight: 500;
        text-align: left;
        @media screen and (min-width: 1290px) and (max-width: 2200px){
            width: 600px;
        }
    }
    &_ul{
        border-radius: 90px;
        margin-left: 3.5px;
        margin-right: 1.5px;
        @media screen and (min-width: 1290px) and (max-width: 2200px){
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }  
}

.restos{
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 32px;
    &_titre-sct{
    margin-left: 3.5px;
    margin-top: 32px;
    font-size: 32px;
    font-weight: 550;
    font-family: "Roboto";
    }
    &_menus-restaurants{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 330px;
        margin-left: 16px;
        margin-right: 32px;
        margin-top: 6px;
        margin-bottom: 16px;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
     flex-direction: row;
     width: 1850px;
     justify-content: space-evenly;
    }
    }
    &_cartes-menus{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        width: 330px;
        height: 210px;
        border-radius: 16px;
        background-color: white;
    }
}

.menus{
    &_img{
    width: 330px;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 0px;
    object-fit: cover;
    }
    &_img2{
        width: 330px;
        height: 150px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        margin-top: -30px;
        margin-bottom: 0px;
        object-fit: cover;
        }
}


.containers-icon{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 25px;
    margin-top: -29px;
    margin-left: 290px;
    padding: 0px;
    width: 25px;
    color: black;
}

.containers-icon2{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-top: 0px;
    margin-left: -25px;
    padding: 0px;
    width: 0px;
    height: 0px;
    color: white;
    opacity: 0.001;
    &:hover{
            animation: heart-filling;
            color:#D86CDB;
            transition-duration: 1.5s;
            opacity: 2;
    }
}

.badgenv
{
    display: flex;
    float: right;
    position: relative;
    font-family: "Roboto";
    align-items: center;
    text-align: center;
    margin: 0px;
    left: 235px;
    top: 15px;
    width: 80px;
    height: 30px;
    color: darken($color: $colour-tertiary, $amount: 40);
    background-color: $colour-tertiary;
}