.header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 5.5px;
    &_Lieu{
        border-top: rgba(0, 0, 0, 0.062) 2px solid;
        margin-top: 2px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: rgba(230, 230, 230, 0.801);
        display: flex;
        justify-content: center;
        font-family: "Roboto";
        font-weight: bold;
        color: black;
        width: 100%;
    }
    &_input-accueil{
        background-color: #ebebeb;
        border: none;
        font-family: "Roboto";
        width: 9rem;
        font-size: 1rem;
        &::placeholder{
            margin-left: 3px;
            color: rgb(43, 43, 43);
            font-weight: 550;
        }
    }
    &_reservationOmF{
        display: flex;
        font-family: 'Roboto';
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: #f6f6f6;
        padding-bottom: 12px;
    }
}

.header-restos
{
    font-family: "Roboto";
    font-size: 1.8rem;
}