@keyframes heart-filling
{
 from {
  transform: translateY(0%)
 }
 to {
  transform: translateY(100%)
 }
}


/*keyframe menu*/
@keyframes appear
{
    0% {
      transform: translateY(-25%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slide-to-left
{
  0%{
    transform: translateX(60px);
    opacity: 0;
    width: 0px;
    }
  100%{
    transform: translateX(0);
    opacity: 1;
    width: 70px;
    }
}

@keyframes rotative
 {
  0%{
    transform: rotate(360deg);
  }
  100%{
   transform: rotate(0deg);
  }
 }

.chrg{
  width: 100%;
  height: 100%;
  inset: 0;
  .loading{
    width: 100%;
    height: 100%;
    animation: stop-and-go 7s;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
  }
}

.chrg .loading_pillars--1
{
  width: 20px;
  height: 75px;
  background-color: $colour-primary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 150ms;
}

.chrg .loading_pillars--2
{
  width: 20px;
  height: 75px;
  background-color: $colour-secondary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

.chrg .loading_pillars--3
{
  width: 20px;
  height: 75px;
  background-color: $colour-tertiary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 450ms;
}

.chrg .loading_pillars--4
{
  width: 20px;
  height: 75px;
  background-color: $colour-primary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 600ms;
}

.chrg .loading_pillars--5
{
  width: 20px;
  height: 75px;
  background-color: $colour-secondary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 750ms;
}

.chrg .loading_pillars--6
{
  width: 20px;
  height: 75px;
  background-color: $colour-tertiary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 900ms;
}

.chrg .loading_pillars--7
{
  width: 20px;
  height: 75px;
  background-color: $colour-primary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 1050ms;
}

.chrg .loading_pillars--8
{
  width: 20px;
  height: 75px;
  background-color: $colour-secondary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}

.chrg .loading_pillars--9
{
  width: 20px;
  height: 75px;
  background-color: $colour-tertiary;
  animation: loader 900ms backwards;
  animation-fill-mode: both;
  animation-delay: 1350ms;
}


@keyframes stop-and-go
{
  from{
  background: white;
  z-index: 2;
  }
  to{
  background: none;
  z-index: -1;
  }
}

 @keyframes loader 
 {
  0%{
    transform: scaleY(0.5);
    opacity: 1;
    }
  100% {
    transform: scaleY(1.5);
    opacity: 0;
  }
  0%{
    transform: scaleY(0.5);
    opacity: 1;
    }
  100% {
    transform: scaleY(1.5);
    opacity: 0;
  }
 }