.cartes-menus{
   display: grid;
   flex-direction: column;
   position: relative;
   background-color: #f6f6f6;
   z-index: 0;
   @media screen and (min-width: 1290px) and (max-width: 2200px){
      align-items: center;
   }
   &_background-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}
   &_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin: -50px 0 25px;
    padding-top: 14.5px;
    background-color: #f6f6f6;
   }
   &_h1-header{
    font-size: 1.6rem;
    font-weight: 200;
    margin: 20px -20px -15px -15px;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      margin-left: -450px;
    }
   }
   &_icons1
   {
    font-size: 1.6rem;
    font-weight: lighter;
    margin-top: 20px;
    margin-right: -20px;
    height: 20px;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      margin-right: -330px;
    }
   }
   &_icons2
   {
    font-size: 1.6rem;
    font-weight: lighter;
    margin-top: -30.5px;
    margin-right: -20px;
    width: 10px;
    color: white;
    opacity: 0.001;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      margin-right: -330px;
    }
    &:hover{
      animation: heart-filling;
      color:#D86CDB;
      transition-duration: 1.5s;
      opacity: 2;
    }
   }
   &_lunches{
      background-color: #f6f6f6;
      width: 100%;
      height: 700px;
      @media screen and (min-width: 1290px) and (max-width: 2200px){
         display: flex;
         grid-gap: 10px;
         height: 300px;
     }
   }
   &_ent
   {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    animation: appear 2.5s both;
    animation-fill-mode: both;
    transform: scale(0);
    transition-delay: 3s ;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      grid-column: 1;
  }
   }
   &_men{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    animation: appear 2.9s both;
    animation-fill-mode: both;
    transform: scale(0);
    transition-delay: 3s ;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      grid-column: 2;
  }
   }
   &_dess{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    animation: appear 3.3s both;
    animation-fill-mode: both;
    transform: scale(0);
    transition-delay: 3s;
    @media screen and (min-width: 1290px) and (max-width: 2200px){
      grid-column: 3;
  }
   }
   &_p1-ent, &_p1-men, &_p1-dess
   {
    border-bottom: 3px solid $colour-tertiary;
    padding-bottom: 4px;
    width: 40px;
   }
   &_lunches-2{
      background-color: #f6f6f6;
      height: 755px;
      @media screen and (min-width: 1290px) and (max-width: 2200px){
         display: flex;
         grid-gap: 10px;
         height: 300px;
     }
   }
}

.confirm
{
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   overflow: hidden;
   margin-top: -27px;
   width: 50px;
   height: 50px;
   font-size: 20px;
   background-color: #99E2D0;
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
}

.recipecard{
   display: flex;
   flex-direction: column;
   background-color: white;
   overflow: hidden;
   text-overflow: ellipsis;
   width: 95%;
   height: 50px;
   margin-bottom: 10px;
   border-radius: 16px;
   &_confirm
   {
   display: none;
   justify-content: center;
   align-items: center;
   color: white;
   margin-top: -27px;
   width: 70px;
   height: 50px;
   font-size: 20px;
   background-color: #99E2D0;
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
   z-index: 3;
   overflow: hidden;
   text-overflow: ellipsis;
   }
   &:hover{
      & .recipecard_confirm{
         display: flex;
         margin-right: 0px;
         animation: slide-to-left 0.1s linear both;
         animation-duration: 0.5s;
         z-index: 3
      }
   }
   &_txt
   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-right: 0px;
}
}

.command{
   display: flex;
   background: #f6f6f6;
   width: 100%;
   justify-content: center;
   @media screen and (min-width: 760px) and (max-width: 1289px){
      width: 100%;
   }
   @media screen and (min-width: 1290px) and (max-width: 2200px){
      width: 100%;
   }
}

.fa-circle-check
{
   animation: rotative 1s;
}