@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0px;
  width: 100%;
  padding: 0.5px;
  display: flex;
  flex-direction: column;
  color: black;
  overflow-x: hidden;
}

ul, li {
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}

a {
  color: black;
  text-decoration: none;
}

.lien {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  text-decoration: none;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  height: 215px;
  cursor: pointer;
  border: none;
}

.space {
  margin: 10px;
}
.space_2 {
  margin: 20px;
}

p {
  font-family: "Roboto", "sans serif";
}

.p-rsrv {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
}

.p-ft {
  font-size: 0.8rem;
  margin-left: 20px;
}

.p-restos {
  font-size: 1.8rem;
  font-weight: 550;
  margin-left: 16px;
  margin-bottom: 16px;
}

.p-ticket {
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h1 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
}

.h1logo {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Roboto";
  font-size: 1.8rem;
}

h3 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  padding-bottom: 8px;
  margin-left: 20px;
}

.OmfTitre1 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.p-menus-titre {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 550;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 16px;
}

.p-menus-txt {
  font-family: "Roboto";
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 16px;
  margin-right: 16px;
}

.p-menus-titre2 {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 550;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 16px;
}

.p-menus-txt2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 16px;
}

.fa-solid {
  font-weight: 400px;
}
.fa-solid:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  animation: heart-fillin;
  transition-duration: 1s;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  padding: 3px;
  border-radius: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.btn_btn-txt {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 17.5px;
  display: flex;
  text-align: center;
  padding-left: 36.5px;
  margin: 7px;
}

.btn-list {
  background-color: #f6f6f6;
  color: black;
  font-size: 0.8rem;
  width: 340px;
  height: 65px;
  border-radius: 16px;
  margin-bottom: 32px;
  cursor: pointer;
}

.btn2 {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  padding: 3px;
  border-radius: 100px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 48px;
  margin-left: 97.5px;
  margin-bottom: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.btn2_btn2-txt {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15.5px;
  display: flex;
  text-align: center;
  margin-left: 23px;
  margin-right: 23px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0px;
}
.header_Lieu {
  border-top: rgba(0, 0, 0, 0.062) 2px solid;
  margin-top: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(230, 230, 230, 0.801);
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  width: 100%;
}
.header_input-accueil {
  background-color: #ebebeb;
  border: none;
  font-family: "Roboto";
  width: 9rem;
  font-size: 1rem;
}
.header_input-accueil::placeholder {
  margin-left: 3px;
  color: rgb(43, 43, 43);
  font-weight: 550;
}
.header_reservationOmF {
  display: flex;
  font-family: "Roboto";
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 12px;
}

.header-restos {
  font-family: "Roboto";
  font-size: 1.8rem;
}

.header-menus {
  display: flex;
  flex-direction: row;
}
.header-menus_title {
  display: flex;
  margin-left: 30px;
  font-size: 2.5rem;
}
.header-menus_icons {
  display: flex;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.cartes-menus {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f6f6f6;
  z-index: 1;
}
.cartes-menus_background-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.cartes-menus_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin: -50px 0 25px;
  padding-top: 10px;
  background-color: #f6f6f6;
}
.cartes-menus_h1-header {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 20px -20px -15px -15px;
}
.cartes-menus_icons1 {
  font-size: 1.6rem;
  font-weight: lighter;
  margin-top: 20px;
  margin-right: -20px;
}
.cartes-menus_ent, .cartes-menus_men, .cartes-menus_dess {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  animation: appear 0.9s both;
  animation-fill-mode: both;
  transform: scale(0);
}
.cartes-menus_p1-ent, .cartes-menus_p1-men, .cartes-menus_p1-dess {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
  width: 40px;
}
.cartes-menus_recipe-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 95%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 16px;
}
.cartes-menus_recipecard-txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.fct {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6.5px;
}
.fct_titre-menus {
  margin-left: 8.5px;
  margin-right: 1.5px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 550;
}
.fct_numbers {
  margin-left: -10px;
  margin-top: 19.7px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #9356DC;
  color: white;
  display: flex;
  align-content: center;
}
.fct_numbers-st {
  margin-left: 6.5px;
  margin-top: 1.9px;
}
.fct_icons {
  margin-top: 19.7px;
  margin-left: 17.5px;
  margin-right: 10px;
  font-size: 17.5px;
  color: grey;
}
.fct_1, .fct_2, .fct_3 {
  display: flex;
  width: 350px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: left;
}
.fct_ul {
  border-radius: 90px;
  margin-left: 3.5px;
  margin-right: 1.5px;
}

.restos {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 32px;
}
.restos_titre-sct {
  margin-left: 3.5px;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 550;
  font-family: "Roboto";
}
.restos_menus-restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  margin-left: 16px;
  margin-right: 32px;
  margin-top: 6px;
  margin-bottom: 16px;
}
.restos_cartes-menus {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 330px;
  height: 210px;
  border-radius: 16px;
  background-color: white;
}

.menus_img {
  width: 330px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 0px;
  object-fit: cover;
}
.menus_img2 {
  width: 330px;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -30px;
  margin-bottom: 0px;
  object-fit: cover;
}

.containers-icon {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 25px;
  margin-top: -29px;
  margin-left: 290px;
  padding: 0px;
  width: 25px;
  color: black;
}
.containers-icon:hover {
  color: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.containers-icon2 {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 25px;
  margin-top: -29px;
  margin-left: 290px;
  padding: 0px;
  width: 25px;
  color: white;
}

.badgenv {
  display: flex;
  float: right;
  position: relative;
  font-family: "Roboto";
  align-items: center;
  text-align: center;
  margin: 0px;
  left: 235px;
  top: 15px;
  width: 80px;
  height: 30px;
  color: #278870;
  background-color: #99E2D0;
}

.footerOmF {
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

/* keyframe menu*/
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart-fillin {
  from {
    margin-bottom: 0%;
  }
  to {
    margin-bottom: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
